
.appBar {
	transition: background-color $transition-time-fast,
		backdrop-filter $transition-time-fast,
		box-shadow $transition-time-default !important;
	&.backdropVisible {
		background-color: rgb(0 0 0 / 0.6) !important;
		backdrop-filter: blur(10px);
	}
	&-avatar {
		background: rgb(255 255 255 / 0.1) !important;
		&-icon {
			color: white;
		}
	}
	&-text {
		opacity: 0.7;
		transition: opacity $transition-time-fast;
		position: relative;
		color: white;
		text-decoration: none;
		&::after {
			content: "";
			width: 100%;
			height: 1.2px;
			background: white;
			opacity: 0.7;
			position: absolute;
			bottom: 4.6px;
			left: 0;
			transform: scaleX(0);
			transition: transform $transition-time-fast,
				background $transition-time-fast,
				opacity $transition-time-fast;
		}
		&:hover {
			opacity: 0.8;
			&::after {
				transform: scaleX(0.25);
				opacity: 0.8;
			}
		}
		&.active {
			opacity: 1;
			color: $clr-accent-default;
			&::after {
				transform: scaleX(0.5);
				opacity: 1;
				background: $clr-accent-default;
			}
		}
	}
	&-library {
		position: relative;
		width: 20rem;
		text-decoration: none;
		&::after {
			content: "";
			position: absolute;
			inset: 5px;
			background: rgb(0 0 0 / 0.3);
			opacity: 0;
			transition: opacity $transition-time-fast;
			border-radius: 5px;
		}
		> img {
			border: 0px solid white;
			width: inherit;
			object-fit: cover;
			height: 100%;
			border-radius: 10px;
			transition: border $transition-time-fast;
		}
		&-icon {
			height: 100%;
			width: inherit;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			color: white !important;
			background: rgb(255 255 255 / 0.1);
			border: 0px solid white;
			border-radius: 10px;
			transition: border $transition-time-fast;
			.material-symbols-rounded {
				font-size: 3em;
			}
		}
		&.active {
			&::after {
				opacity: 1;
			}
			> img {
				border: 5px solid white;
			}
			.material-symbols-rounded {
				font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 25,
					"opsz" 40;
			}
			.appBar-library-icon {
				border: 5px solid white;
			}
		}
		&-scrollContainer {
			display: flex;
			max-width: 35vw;
			overflow: auto;
			gap: 1em;
			height: inherit;
			padding: 15px;

			// Magic scrollbar
			&::-webkit-scrollbar {
				&-thumb {
					width: 150px;
					max-width: 33%;
				}
				&-track {
					margin-left: 25px;
					margin-right: 25px;
					background: transparent !important;
				}
			}
		}
	}
}

.appLoading {
	opacity: 0;
}
