@import "../../styles/variables.scss";

$cardWidth: 18%;

.item-hero {
    height: 60vh;
    gap: 2em;
    row-gap: 1.2em;
    position: relative;
    align-items: flex-end;
    display: grid;
    grid-template-columns: $cardWidth 1fr;
    grid-template-rows: 1fr auto;
    &-image {
        opacity: 0;
        width: 100%;
        object-fit: contain;
        transition: opacity $transition-time-default;
        &-container {
            height: fit-content;
            max-height: 100%;
            overflow: hidden;
            border-radius: $border-radius-default;
            box-shadow: $shadow-card;
            flex-grow: 1;
            flex-shrink: 0;
            position: relative;
            width: 100%;
        }
        &-blurhash {
            position: absolute !important;
            width: 100% !important;
            height: 100% !important;
            z-index: -1;
        }
        &-icon {
            background: linear-gradient(45deg, rgb(255 255 255 / 0.05), rgb(255 255 255 / 0.15));
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .material-symbols-rounded{
                font-size: 4em;
            }
        }
    }
    &-logo {
        max-width: 34rem;
        max-height: 10rem;
        opacity: 0;
        transition: opacity $transition-time-default;
        object-position: bottom;
        margin-bottom: 2em;
    }
    &-detail {
        width: 100%;
        align-items: flex-start;
        gap: 0.2em;
        justify-content: end;
    }
    &-buttons {
        &-container {
            align-items: center;
            justify-content: space-between;
            width: 100%;
            grid-column: 1/3;
            display: grid;
            grid-template-columns: inherit;
            gap: 2em;
        }
    }
    &-backdrop {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        object-position: top;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity $transition-time-default;
        &-container {
            filter: brightness(0.8);
            position: absolute;
            top: -4.4em;
            left: -$page-margin;
            width: 100vw;
            height: calc(54vh + 4.4em);
            z-index: -1;
            mask-image: linear-gradient(to top, transparent, black);
            -webkit-mask-image: linear-gradient(
            to top,
            transparent,
            black
            );
        }
    }
    & .play-button {
        width: 100% !important;
    }
}
