/** @format */

:root {
	--main-bg: #0a1827;
	--jf-purple-light: #aa5cc3;
	--jf-purple-dark: #3e2247;
	--jf-blue-light: #00a4dc;
	--jf-blue-dark: #003c50;
	--warning-yellow: #f18e06;
	--warning-bg: rgba(220, 128, 1, 0.16);
	--error-red: #a94442;
	--error-red-darker-1: #8b2e2e;
	--error-red-bg: #240e0ea0;
	--yes-green: #18be12;
	--yes-green-darker-1: #15a010;
	--rounding: 10px;
	--rounding-1: 5px;
	--transition-time-fast-2: 100ms;
	--transition-time-fast-1: 150ms;
	--transition-time-default: 250ms;
	--transition-time-slow-1: 350ms;
	--transition-time-slow-2: 550ms;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
html {
	margin: 0 !important;
	padding: 0 !important;
	font-family: "Montserrat", sans-serif;
	color: white;
	background: var(--main-bg);
}

input,
button {
	width: 100%;
	height: 2.65em;
	outline: none;
}

.input {
	position: relative;
	font-size: calc(60vw / 20);
	width: 100%;
}

.ripple__cont {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@-webkit-keyframes btn_click {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	100% {
		transform: scale(5);
		opacity: 1;
	}
}

@keyframes btn_click {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	100% {
		transform: scale(1.5);
		opacity: 1;
	}
}

/*Animations*/
@-webkit-keyframes fadeInBg {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.6;
	}
}

@keyframes fadeInBg {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.6;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		top: calc(50% + 150px);
	}
	100% {
		opactiy: 1;
		top: 50%;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		top: calc(50% + 150px);
	}
	100% {
		opactiy: 1;
		top: 50%;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		display: block;
		opacity: 1;
		top: 50%;
	}
	99% {
		display: block;
		opacity: 0;
		top: calc(50% + 150px);
	}
	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		display: block;
		opacity: 1;
		top: 50%;
	}
	99% {
		display: block;
		opacity: 0;
		top: calc(50% + 150px);
	}
	100% {
		display: none;
		opacity: 0;
	}
}

@-webkit-keyframes fadeInOpac {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInOpac {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOutOpac {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes fadeOutOpac {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 0;
	}
}

@-webkit-keyframes comeIn {
	0% {
		bottom: -100%;
	}
	100% {
		bottom: 20px;
	}
}

@keyframes comeIn {
	0% {
		bottom: -100%;
	}
	100% {
		bottom: 20px;
	}
}

@-webkit-keyframes goOut {
	0% {
		bottom: 20px;
	}
	100% {
		bottom: -100%;
	}
}

@keyframes goOut {
	0% {
		bottom: 20px;
	}
	100% {
		bottom: -100%;
	}
}

@-webkit-keyframes load {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

@keyframes load {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}
