/** @format */

::-webkit-scrollbar {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgb(255 255 255 / 0.5);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(255 255 255/1);
}

.login {
	--mdc-theme--primary: white !important;
	--mdc-theme--primary-bg: var(--main-bg) !important;
}

.login .mdc-button {
	font-family: "Montserrat" !important;
	background-color: rgb(255 255 255 / 0.3) !important;
	border: 2px solid white !important;
	overflow: hidden;
}
.login .mdc-button__ripple > * {
	background-color: rgb(0 0 0 / 0.3) !important;
}

.login .mdc-text-field--outlined {
	font-family: "Montserrat" !important;
}

.login
	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
	.mdc-notched-outline__leading,
.login
	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
	.mdc-notched-outline__notch,
.login
	.mdc-text-field--outlined:not(.mdc-text-field--disabled)
	.mdc-notched-outline__trailing {
	border-color: rgb(255 255 255 / 0.4) !important;
}

.login
	.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
	.mdc-notched-outline__leading,
.login
	.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
	.mdc-notched-outline__notch,
.login
	.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
	.mdc-notched-outline__trailing {
	border-color: rgb(255, 255, 255) !important;
}

.login .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
	color: rgb(255 255 255 / 0.6);
}
.login
	.mdc-text-field--focused:not(.mdc-text-field--disabled)
	.mdc-floating-label {
	color: white !important;
}

.login .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
	color: rgb(255 255 255 / 0.87);
	caret-color: white;
}

.login
	.mdc-checkbox
	.mdc-checkbox__native-control:enabled:checked
	~ .mdc-checkbox__background,
.login
	.mdc-checkbox
	.mdc-checkbox__native-control:enabled:indeterminate
	~ .mdc-checkbox__background,
.login
	.mdc-checkbox
	.mdc-checkbox__native-control[data-indeterminate="true"]:enabled
	~ .mdc-checkbox__background {
	border-color: transparent !important;
}

.login .mdc-checkbox {
	--mdc-ripple-color: white;
	--mdc-checkbox-unchecked-color: white;
	--mdc-checkbox-checked-color: rgb(255 255 255 / 0.3) !important;
}

.login .mdc-form-field {
	--mdc-theme-text-primary-on-background: rgb(255 255 255 / 0.87);
}

#background {
	background: transparent;
	position: fixed;
	z-index: 0;
	width: 100vw;
	height: 100vh;
}

#background > * {
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 0;
	transition: opacity var(--transition-time-slow-2);
}

#background .purple {
	background: linear-gradient(140deg, var(--jf-purple-light), transparent);
}

#background .blue {
	background: linear-gradient(140deg, transparent, var(--jf-blue-light));
	z-index: -2;
}

#background .purple.active,
#background .blue.active {
	opacity: 1;
}

.page {
	position: static;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100vw;
	overflow: hidden;
	flex-flow: column;
	gap: 10px;
}

.page > button {
	width: 60vw;
	max-width: 32em;
}

.page.manual__login {
	position: relative;
}

.server__cont,
.user__cont,
.manual__input {
	position: static;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	max-width: 30em;
}

.logo object {
	width: 100%;
	height: 100%;
}

.manual__input {
	width: 60vw;
	display: flex;
	flex-flow: column;
	align-items: stretch;
	justify-content: center;
}

.server__cont {
	display: flex;
	flex-flow: column;
	grid-gap: 3em;
}

button.clicky {
	position: relative;
	overflow: visible;
}

button.clicky::after {
	content: "";
	box-shadow: 0 0 15px 40px var(--clr);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 100px;
	opacity: 0;
	transition: all var(--transition-time-slow-1);
}

button.clicky:active::after {
	box-shadow: 0 0 0 0 white;
	opacity: 0.5;
	transition: 0s;
}

.input__label {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: min(1em, 25px);
	transition: font-size var(--transition-time-default),
		transform var(--transition-time-default);
}

input:focus + .input__label,
.input__label.inputLabelActive {
	transform: translateY(calc(-100% - 0.85em));
	font-size: min(0.75em, 15px);
}

.form__cont {
	display: flex;
	flex-flow: column;
	grid-gap: 1em;
}

.hide {
	display: none !important;
	visibility: hidden !important;
}

.info {
	font-family: "IBM Plex Mono", monospace;
	opacity: 0.65;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-size: calc(60vw / 20);
}

.info span {
	color: var(--warning-yellow);
	font-size: min(1.5em, 30px);
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}

.info div {
	font-size: min(0.65em, 15px);
	text-align: left;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.alert {
	position: absolute;
	box-sizing: content-box;
	width: 50vw;
	max-width: 20em;
	display: flex;
	left: 20px;
	background: var(--background);
	color: white;
	border-radius: var(--rounding);
	font-weight: 600;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 30px rgb(0 0 0 / 0.5);
	overflow: hidden;
	-webkit-animation: comeIn var(--transition-time-default) forwards;
	animation: comeIn var(--transition-time-default) forwards;
}

.alert .icon {
	font-size: 2.5em;
	background: var(--color);
	height: 100%;
	flex-shrink: 0;
	flex-grow: 1;
	padding: 15px;
}

.alert .msg {
	padding: 0 15px;
}

.warning {
	--background: var(--warning-bg);
	--color: var(--warning-yellow);
}

.alert.error {
	--background: var(--main-bg);
	--color: var(--error-red);
}

.dialog__cont {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	z-index: 5;
}

.dialog {
	background: var(--main-bg);
	z-index: 5;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	box-sizing: content-box;
	padding: 20px;
	color: black;
	border-radius: var(--rounding);
	box-shadow: 0 10px 35px rgba(5, 5, 5, 0.7);
	max-width: 20em;
}

.dialog .icon {
	color: var(--color);
	border-left: 5px solid;
	padding: 0 0 0 15px;
	font-size: 3em;
	margin-left: -20px;
}

.dialog.error {
	--color: var(--error-red);
}

.dialog.warning {
	--color: var(--warning-yellow);
}

.dialog .title {
	font-size: 2em;
	font-weight: 600;
	color: rgb(255 255 255 / 90%);
}

.dialog .msg {
	font-size: 1.25em;
	font-weight: 400;
	color: rgb(255 255 255 / 65%);
	margin: 0.5em 0;
}

.buttons {
	display: flex;
	gap: 10px;
}

.dialog__close {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgba(5, 5, 5, 0.5);
	z-index: 0;
}

.error.active,
.dialog.active,
.warning.active {
	-webkit-animation: fadeIn var(--transition-time-fast-2);
	animation: fadeIn var(--transition-time-fast-2);
	display: block;
	visibility: visible;
}

.dialog__cont.fadeOut {
	-webkit-animation: fadeOut var(--transition-time-fast-2) forwards;
	animation: fadeOut var(--transition-time-fast-2) forwards;
}

.dialog__close.fadeOut {
	-webkit-animation: fadeOutOpac var(--transition-time-fast-2) forwards;
	animation: fadeOutOpac var(--transition-time-fast-2) forwards;
}

.dialog__close.active {
	-webkit-animation: fadeInOpac var(--transition-time-fast-2) forwards;
	animation: fadeInOpac var(--transition-time-fast-2) forwards;
}

.alert.goOut {
	-webkit-animation: goOut var(--transition-time-default) forwards;
	animation: goOut var(--transition-time-default) forwards;
}

.alert .load {
	position: absolute;
	bottom: 0;
	height: 5px;
	background: white;
	width: 100%;
	transform: scaleX(0);
	-webkit-animation: load 3s forwards;
	animation: load 3s forwards linear;
	transform-origin: left;
}

.loader {
	position: fixed;
	overflow: visible;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 20;
}

.loader::before {
	content: "";
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	transition: var(--transition-time-slow-1);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.loader svg {
	z-index: 1;
}

section.user__cont {
	display: flex;
	justify-content: space-between;
	overflow: auto hidden;
	z-index: 2;
}

.user__card {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	overflow: hidden;
	flex-shrink: 0;
	padding: 1em;
}

.user__card .content {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	padding: 0 !important;
}

.user__card h1 {
	margin: 0.5em 0;
}

.user__svg,
.user__img {
	width: 10em;
	-o-object-fit: cover;
	object-fit: cover;
	height: 10em;
	border-radius: var(--rounding);
	background: white;
	mix-blend-mode: multiply;
	box-shadow: 0 0 20px #00000057;
}

.user__svg {
	padding: 1em;
}

.user {
	display: flex;
	flex-flow: column;
	grid-gap: 2em;
	justify-content: center;
	align-items: center;
}

.user__info {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
}

.title__name {
	-webkit-filter: drop-shadow(0 0 8px #00000057);
	filter: drop-shadow(0 0 8px #00000057);
	text-align: center;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	font-weight: 500;
	padding: 0;
	margin: 0;
	font-size: min(calc(100vw / 15), 10em);
	position: relative;
	margin-bottom: 0.5em;
	align-self: center;
}

.title__name::after {
	content: "";
	width: 70%;
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
	background: white;
}

.user__info .title__name::after,
.manual__login .title__name::after {
	all: unset;
}

.user__info .title__name {
	margin-bottom: 0;
}

.user__info .user__img,
.user__info .user__svg {
	border-radius: 100%;
}

.input.checkbox {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	grid-gap: 10px;
	align-items: center;
}

.checkbox label {
	font-size: min(0.6em, calc(100vw / 25));
}

.tick {
	display: block;
	width: 0.6em;
	border-radius: var(--rounding-1);
	border: 1.5px solid white;
}

.tick path {
	stroke: white;
	stroke-dasharray: 100%;
	stroke-dashoffset: -100%;
	transition: stroke-dashoffset var(--transition-time-fast-2);
}

input[type="checkbox"]:checked + .tick > path {
	stroke-dashoffset: 0%;
}

.remember__user {
	position: absolute;
	height: 100%;
	width: 100%;
	inset: 0;
	padding: 0;
	margin: 0;
}

.manual__form {
	display: flex;
	flex-flow: column;
	gap: 20px;
	row-gap: 20px;
	-moz-column-gap: 20px;
	column-gap: 20px;
	align-items: stretch;
}

.back {
	position: absolute;
	top: 0;
	left: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	z-index: 1;
	padding: 0.3em 0.5em;
	font-size: 1.5em;
	background: rgb(20 20 20 / 0.5);
	border-radius: 0 0 5px 0;
	transition: background var(--transition-time-fast-1);
}

.back:hover {
	background: rgb(20 20 20 / 0.7);
}
/*Scaling for other display*/

@media (min-width: 800px) {
	.title__name {
		font-size: 2.7em;
	}
}
