/** @format */

.library__page::-webkit-scrollbar {
	width: 5px;
}

.library__page::-webkit-scrollbar-thumb {
	border-radius: 0;
}

.moveFadeOut {
	-webkit-animation: moveFadeOut var(--transition-time-slow-2) forwards;
	animation: moveFadeOut var(--transition-time-slow-2) forwards;
}
.moveFadeIn {
	-webkit-animation: moveFadeIn var(--transition-time-slow-2) forwards;
	animation: moveFadeIn var(--transition-time-slow-2) forwards;
}
.main {
	opacity: 0;
	right: -300px;
}
.main.active {
	opacity: 1;
	right: 0;
}

.menu.side__menu {
	width: 40vw;
	height: 100vh;
	max-width: 20em;
	overflow: auto;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border-right: 1px solid var(--main-brd-clr);
	position: relative;
}

.user__menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	font-weight: 200;
	font-size: 1.9rem;
	gap: 0.5em;
	padding: 2em 1em;
	border-bottom: 1px solid var(--main-brd-clr);
	position: relative;
}

.user__menu .image {
	width: 15vh;
	border-radius: 100%;
	overflow: hidden;
	aspect-ratio: 1/1;
}

img {
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center;
	object-position: center;
}

.user__menu .image > img {
	width: 100%;
	aspect-ratio: 1/1;
}

.submenu {
	width: 100%;
	padding: 0 1em;
	position: relative;
	overflow-x: hidden;
	height: 100%;
}

.menu__button {
	font-size: 1.3rem;
	padding: 0.5em;
	position: relative;
	display: flex;
	gap: 0.5em;
	transition: gap var(--transition-time-fast-1);
}

.menu__button:hover {
	gap: 0.7em;
}

.main__animated__page {
	width: 100%;
	height: 100vh;
	position: relative;
	background: linear-gradient(45deg, var(--main-bg), var(--jf-blue-dark));
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
	flex-grow: 0;
	flex-shrink: 1;
	overflow-x: hidden;
}

.main__animated__page > * {
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.latestMediaSlider {
	width: 100%;
	position: relative;
	overflow: visible;
	aspect-ratio: 16/9;
	z-index: -1;
}

.slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity var(--transition-time-default);
}

.slide .info__cont {
	left: -5em;
	transition: left var(--transition-time-default);
}

.slide.active .info__cont {
	left: 2em;
}

.slide.active ~ .slide > .info__cont {
	left: 9em;
}

.slide.active {
	display: block;
	z-index: 10;
	opacity: 1;
}

.slide__background {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
	right: 0;
	-webkit-mask-composite: destination-in;
	background-size: cover !important;
	opacity: 0;
	transition: opacity var(--transition-time-default);
	-webkit-mask-image: linear-gradient(to top, transparent, black 75%);
}

.slide__background::after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(to right, rgb(0 0 0 / 0.5) 50%, transparent);
}

.slide.active .slide__background {
	opacity: 1;
}

canvas.placeholder {
	opacity: 1;
	transition: opacity var(--transition-time-default);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}

.slide img {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.info__cont {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
	align-content: center;
	width: 70%;
	height: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 2em;
}

.title {
	width: 100%;
	font-size: 2.9em;
	font-weight: 500;
	overflow: hidden;
	max-height: 40%;
	text-overflow: ellipsis;
}

.title div {
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	position: static;
	background-size: contain !important;
	background-position: left !important;
	background-repeat: no-repeat !important;
}

.title div span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.logo div {
	position: absolute;
	height: 100%;
}

.title.logo {
	height: 40%;
	position: relative;
}

.overview {
	width: 100%;
	display: flex;
	gap: 1em;
	font-size: 0.9em;
	font-weight: 600;
}

.overview div {
	display: flex;
	gap: 0.2em;
}

button.filled {
	--clr: var(--accent-solid);
	background: var(--accent-solid);
	color: white;
	border: 2px solid var(--clr);
}

button.outlined {
	--clr: white;
	background: transparent;
	color: white;
	border: 2px solid var(--clr);
}

.main .buttons {
	width: 100%;
	margin-top: 1em;
}

.info__cont button {
	max-width: 15em;
	padding: 0;
}

.info__cont button span {
	font-size: 1.5em;
}

.icon__image {
	width: 100%;
	height: 100%;
	font-size: 30vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	color: black;
}

.track__cont {
	position: absolute;
	bottom: 1em;
	left: 2em;
	right: 2em;
	height: 1em;
	display: flex;
	gap: 0.5em;
	align-items: center;
}

.track {
	height: 5px;
	width: 100%;
	background: var(--main-brd-clr);
	border-radius: var(--rounding-1);
	transition: background var(--transition-time-default),
		height var(--transition-time-default);
	z-index: 30;
}
.track.active {
	background: white;
}

.track:hover {
	height: 10px;
	background: rgb(255 255 255 / 0.5);
}

.skeleton__loader {
	height: 100%;
	width: 100%;
	position: absolute;
	background: var(--main-bg);
	z-index: 100;
	overflow: hidden;
}

.skeleton__loader::after {
	content: "";
	height: 100%;
	width: 5em;
	background: linear-gradient(
		to right,
		transparent,
		rgb(255 255 255 / 0.2),
		transparent
	);
	position: absolute;
	-webkit-animation: skeletonLoader 1.5s infinite;
	animation: skeletonLoader 1.5s infinite;
}

.primary__image {
	width: 100%;
}

.primay__image img {
	width: 0;
}

.card {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	flex-shrink: 0;
	border-radius: var(--rounding);
	display: block;
	padding: 0 1em 0 0;
}

.image__cont {
	position: relative;
	width: 100%;
	flex: 0 0 100%;
	border-radius: var(--rounding);
	overflow: hidden;
	box-shadow: 0px 0px 15px rgb(0 0 0 /0.3);
}

.image__cont > * {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
}

.image__cont object {
	width: 100%;
	height: 100%;
}

.primary__image img {
	width: 100%;
	height: 100%;
	aspect-ratio: 0.777;
}

.image__cont .icon__image {
	padding: 0.07em;
	border-radius: inherit;
	border: 2px solid var(--main-brd-clr);
}

.card__text {
	font-weight: 300;
	color: white;
	text-align: center !important;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content .grid {
	display: flex;
	flex-wrap: nowrap;
	gap: 0;
	justify-content: flex-start;
}

.content {
	padding: 0 2em;
}

.content h2 {
	font-size: 2em;
	font-weight: 300;
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin: 0;
}

.content h2::before {
	content: "";
	width: 1em;
	height: 2px;
	display: block;
	background: white;
}

.card .icon__image span {
	font-size: 0.2em;
	color: var(--accent-solid);
}

.primary .image__cont {
	height: auto;
	width: 100%;
	aspect-ratio: 0.66667;
}

.primary .card__text {
	font-size: 1em;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	overflow: hidden;
	padding: 0 0.2em;
}

.card__text__cont {
	width: 100%;
	text-align: center;
}

.card__text.secondary {
	font-size: 0.9em;
	opacity: 0.7;
	font-weight: 300;
}

.thumb .image__cont {
	aspect-ratio: 1.777;
}

.square .image__cont {
	aspect-ratio: 1;
}
.content__header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.content__header .buttons {
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0 !important;
}

.content__header button {
	aspect-ratio: 1/1;
	height: auto;
	font-size: xx-large;
	color: white !important;
	--mdc-text-button-hover-state-layer-color: white;
}

.content__header .mdc-button__ripple {
	border-radius: 100% !important;
}

.mdc-button:disabled {
	opacity: 0;
}

.sub {
	margin-top: 1em;
}

.menu__button.active {
	font-size: 1.5rem;
}

.menu__button .mdi {
	background: linear-gradient(
		45deg,
		var(--jf-blue-light),
		var(--jf-purple-light) 80%
	);
	-webkit-background-clip: text;
	background-clip: text;
	transition: color var(--transition-time-fast-1);
}

.menu__button.active .mdi {
	color: transparent;
}

.vertical__tab__highlighter {
	width: 2.5px;
	position: fixed;
	background: linear-gradient(
		45deg,
		var(--jf-blue-light),
		var(--jf-purple-light)
	);
	border-radius: var(--rounding);
	left: 15px;
	transition: top var(--transition-time-fast-1) ease-in-out;
}
