.item-info-track{
    display: grid;
        grid-template-columns: 3em 60% 6em 1fr;
        gap: 1em;
        padding: 1em;
        align-items: center;
        cursor: pointer;
        border-radius: $border-radius-default;
        transition: background $transition-time-fast;
        &.header {
            border-bottom: 1px solid rgb(255 255 255 / 0.2);
            color: rgb(255 255 255 / 0.7);
            border-radius: 0 !important;
        }
        .index-container {
            justify-self: center;
            position: relative;
            .material-symbols-rounded {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 2em !important;
                opacity: 0;
                transition: none !important;
                color: $clr-accent-default;
            }
        }
        &-info {
            display: flex;
            flex-direction: column;
            gap: 0.1em
        }
        &:hover {
            background: rgb(255 255 255 / 0.1) !important;
            .index-container {
                // font-size: 0em;
                .index {
                    opacity: 0;
                    transition: opacity 0;
                }
                .material-symbols-rounded {
                    opacity: 1;
                    font-size: 2.2em !important;
                }
            }
        }
        &.playing {
            background: rgb(0 0 0 / 0.4) !important;
            .item-info-track-info-name, .index {
                color: $clr-accent-default;
                font-weight: 600;
            }
        }
        &-container {
            display: flex;
            flex-direction: column;
            gap: 0.4em
        }
}