/** @format */

.sidemenu {
	&-item {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 15%;
			bottom: 15%;
			left: 7%;
			width: 5px;
			border-radius: 10px;
			background: linear-gradient(
				135deg,
				$clr-accent-default,
				$clr-secondary-default
			);
			opacity: 0;
			transform: translateX(-10px);
			transition: transform $transition-time-default,
				opacity $transition-time-default;
		}
		&-active::before {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
