.settings-about {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
    }
    &-logo{
        width: 60%;
        object-fit: cover;
    }
    &-table{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        width: 100%;
        max-width: 60%;
        margin-top: 2em;
        &-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0.5em 1em;
            border-bottom: 1px solid rgba(255, 255, 255, 0.12);
            &:last-child {
                border-bottom: none;
            }
        }
    }
    &-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        max-width: 60%;
        margin-top: 2em;
    }
}