/** @format */

$border-radius: 20px;

.item-detail-album {
	&-track {
		display: grid;
		grid-template-columns: 4% 1fr 80% 1fr;
		align-items: center;
		justify-items: center;
		gap: 0.5em;
		width: 100%;
		padding: 0.25em 0;
		background: hsl(256, 100%, 4%, 40%);
		transition: background $transition-time-default;

		&:first-child {
			border-radius: $border-radius $border-radius 8px 8px;
			cursor: default !important;
		}

		&:last-child {
			border-radius: 8px 8px $border-radius $border-radius;
		}
		border-radius: 8px;

		&s {
			background: transparent !important;
			box-shadow: none !important;
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		&:hover {
			background: hsl(256, 100%, 4%, 50%);
			cursor: pointer;
		}

		&.playing {
			color: $clr-accent-default;
		}
	}
}
