$image-size: 5em;

.queue{
    &-item{
        width: 32em;
        padding: 1em;
        display: grid !important;
        opacity: 1 !important;
        gap: 1em;
        grid-template-columns: 3em $image-size 1fr;
        justify-items: center;
        align-items: center;
        &-image{
            max-height: $image-size;
            max-width: $image-size;
            object-fit: cover;
            border-radius: $border-radius_04;
            overflow: hidden;
            &-container {
                aspect-ratio: 1;
                overflow: hidden;
                width: $image-size;
                height: $image-size;
                display: flex;
                justify-content: center;
                align-items: center;    
                position: relative;
            }
        }
        &-info{
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            width: 100%;
        }
    }
    &-item.Mui-disabled {
        .queue-item-image{
            opacity: 0.5 !important;
        }
    } 
}