$border-radius: 20px;
.item-playlist {
	width: 70vw;
	padding-right: 2.2em;
	.item-info {
		display: flex;
		flex-direction: column;
		gap: 1.2em;
		&-container {
			grid-template-columns: 1fr 25%;
			display: grid;
			gap: 3em;
		}
		&-playlist-info {
			gap: 1.2em;
		}
		&-buttons {
			display: flex;
			gap: 1em;
		}
		&-disc-header {
			padding: 1em 2em;
			background: hsla(0, 0, 100%, 10%);
			border-radius: 100px;
			gap: 1em;
			margin-top: 1em;
		}
	}
}
.item-info-sidebar {
	display: flex;
	flex-direction: column;
	gap: 1em;
	position: fixed;
	// max-height: 100vh;
	top: 0;
	right: 0;
	width: 30vw;
	padding: 4.4em;
	padding-left: 2.2em;
	&-image {
		width: 100%;
		object-fit: cover;
		border-radius: $border-radius-default;
	}
	&-artist {
		display: flex;
		gap: 1em;
		align-items: center;
		padding: 1em 0;
		color: rgb(255 255 255 / 0.7);
		transition: $transition-time-default;
		cursor: pointer;
		text-decoration: none;
		&:hover {
			color: rgb(255 255 255)
		}
		&-image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
			position: relative;
			&-container {
				width: 3em;
				aspect-ratio: 1;
				border-radius: 100%;
				overflow: hidden;
				position: relative;
				.material-symbols-rounded {
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					background: rgb(255 255 255 / 0.1);
					z-index: 0;
				}
			}
		}
		&-container {
			// max-height: 20em;/
			overflow-y: auto;
			overflow-x: hidden;
		}
	}
	&-overview {
		overflow-y: auto;
		max-height: 28vh;
		padding-bottom: 2px;
	}
}
.item-detail- {
	&-track {
		display: grid;
		grid-template-columns: 4% 1fr 80% 1fr;
		align-items: center;
		justify-items: center;
		gap: 0.5em;
		width: 100%;
		padding: 0.25em 0;
		background: rgb(0 0 0 / 0.4);
		transition: background $transition-time-default;
		backdrop-filter: blur(5px);
		&:first-child {
			border-radius: $border-radius $border-radius 8px 8px;
			cursor: default !important;
		}
		&:last-child {
			border-radius: 8px 8px $border-radius $border-radius;
		}
		border-radius: 8px;
		&s {
			background: transparent !important;
			box-shadow: none !important;
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
		&:hover {
			background: rgb(0 0 0 / 0.5);
			cursor: pointer;
		}
		&.playing {
			color: $clr-accent-default;
		}
	}
}

@media (max-width: 1320px) {
	.item-playlist .item-detail {
		&-cast {
			&-grid {
				grid-template-columns: 1fr;
			}
		}
	}
}