::-webkit-scrollbar {
	width: 14px;
	background: $clr-background-dark;
}

div::-webkit-scrollbar {
	width: 14px;
	background: transparent;
}

.roundedScrollbar::-webkit-scrollbar-track {
	border-radius: 1000px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	&:hover {
		background-color: rgb(255 255 255 / 0.1);
	}
}
::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 9999px;
	background-color: rgb(255 255 255 / 0.25);
	&:hover {
		background-color: rgb(255 255 255 / 0.45);
	}
}

::selection {
	background: $clr-secondary-default;
}

body {
	font-family: "Noto Sans";
	background: $clr-background-default;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	overscroll-behavior: none;
}

.app-backdrop {
	object-fit: cover;
	width: calc(100% + 160px);
	height: calc(100% + 160px);
	position: absolute;
	top: -80px;
	left: -80px;
	z-index: -2;
	filter: blur(160px) saturate(130%) contrast(170%);
	&-container {
		position: fixed;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		z-index: -1;
		filter: brightness(0.3);
	}
}

#root,
.root-page {
	height: fit-content;
	width: 100%;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loading {
	opacity: 0.35;
}

.fadeIn {
	animation: 0.5s fadeIn forwards;
}

.fadeOut {
	animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate(-20px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translate(0px, 0px);
	}
	to {
		transform: translate(20px, 0);
		opacity: 0;
	}
}

h1 {
	color: white !important;
}

.scrollY {
	overflow-x: hidden;
	overflow-y: visible;
	height: fit-content;
	width: 100%;
	box-sizing: border-box;
	min-height: 100vh;
	padding: 1.6em;
	&.padded-top {
		padding-top: 4.4em;
	}
}

.home {
	padding-left: 0 !important;
	padding-right: 14px !important;
}

.empty {
	display: none;
}

.MuiChip-label {
	display: flex;
	align-items: center;
	justify-content: center;
}

.material-symbols-rounded {
	--fill: 0;
	--wght: 300;
	--grad: 25;
	--opsz: 40;
	
	font-variation-settings: "FILL" var(--fill, 0), "wght" var(--wght, 300), "GRAD" var(--grad, 25), "opsz" var(--opsz, 40);
	font-size: 1.1em;
	transition: all $transition-time-default;
	&.fill{
		--fill: 1;
	}
}

.audio-playing .scrollY {
	padding-bottom: 9em !important;
}

.audio-playing .scrollY.library {
	padding-bottom: 0 !important;
}

.audio-playing .library-items {
	padding-bottom: 9em !important;
}

.library-items,
.scrollY {
	transition: all $transition-time-default !important;
}

// Normalize listItemIcons for material symbols
.MuiListItemIcon-root {
	font-size: 24px;
}

.animate-icon {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		width: 100%;
		height: 100%;
		border-radius: 100%;
		opacity: 0;
		// filter: blur(10px);
		animation: iconAnimation ease-out 1s infinite;
		background: var(--clr);
		z-index: -1;
		// background: radial-gradient(transparent, var(--clr));
	}
}

.animate-rotate{
	animation: rotation linear 1s infinite;
}

@keyframes rotation {
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@keyframes iconAnimation {
	0% {
		opacity: 1;
		transform: translate(-50%, -50%) scale(0);
	}
	100% {
		opacity: 0;
		transform: translate(-50%, -50%) scale(4);
	}
}

.flex {
	display: flex;
	&-row {
		flex-direction: row;
	}
	&-column {
		flex-direction: column;
	}
	&-center {
		align-items: center;
		justify-content: center;
	}
	&-align-center {
		align-items: center;
	}
	&-justify-spaced-between {
		justify-content: space-between;
	}
}

@keyframes pulse {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.1;
	}
}

.gradient-text{
	background: $clr-gradient-default;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
}

.divider-circle{
	width: 4px;
	height: 4px;
	aspect-ratio: 1;
	border-radius: 10px;
	background: white;
}