/** @format */

$clr-accent-default: hsl(337, 96%, 56%);
$clr-accent-dark: hsl(337, 96%, 10%);
$clr-secondary-default: hsl(273, 100%, 22%);
$clr-background-default: hsl(256, 100%, 6%);

$clr-background-dark: hsl(256, 100%, 4%);
$clr-background-light: hsl(256, 100%, 16%);

$border-radius-default: 10px;
$border-radius-intensity-1: 5px;

$transition-time-default: 250ms;
