$cardWidth: 18%;
.item-detail-person {
	&-container {
		position: relative;
		width: 100%;
	}
	&-header {
		width: 100%;
	}
	&-cards {
		display: grid;
		align-items: start;
	}
}

.col-7 {
	grid-template-columns: repeat(7, minmax(0, 1fr));
}
.col-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}

.item-person.item {
	gap: 1em;
	
	
	.item-detail {
		display: grid;
		grid-template-columns: 1fr 35%;
		justify-items: center;
		align-items: start;
		gap: 3em;
		
		&-cast {
			&-container {
				display: flex;
				flex-direction: column;
				gap: 1em;
			}
			&-grid {
				display: grid;
				grid-template-columns: repeat(5, minmax(0, 1fr));
				gap: 1em;
				margin-bottom: 1em;
			}
			&-card {
				display: grid;
				grid-template-columns: 6em 1fr;
				gap: 0.5em;
				align-items: center;
				color: white !important;
				text-decoration: none;
				padding: 0.5em;
				background: rgb(255 255 255 / 0);
				transition: background $transition-time-default;
				border-radius: $border-radius-default;
				&:hover {
					background: rgb(255 255 255 / 0.1);
				}
				&-image,
				&-icon {
					width: 6em;
					height: 6em;
					object-fit: cover;
					border-radius: 100%;
					box-shadow: $shadow-card-image;
				}
				&-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1em;
					background: rgb(255 255 255 / 0.1);
					.material-symbols-rounded {
						font-size: 3em;
					}
				}
			}
		}
		&-link {
			color: white;
			text-decoration-color: rgb(255 255 255 / 0.5);
			&:hover {
				text-decoration-color: white;
			}
		}
	}
}

