/** @format */

.video {
	&-osd {
		opacity: 0;
		transition: opacity 0.1s linear;
		width: 100vw;
	}
	&-osd-visible &-osd {
		opacity: 1;
	}
	&-player-container {
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}
}

video {
	&::-webkit-media-text-track-display {
		overflow: visible !important;
	}
	&::cue {
		text-shadow: 0 2px 10px rgb(0 0 0 / 0.8);
		background: transparent;
	}
	&::cue(i) {
		text-shadow: 0 2px 10px rgb(0 0 0 / 0.8);
	}
}
