/** @format */

.card {
	border-radius: $border-radius-default;
	&-image {
		position: relative;
		border-radius: $border-radius-default;
		background-size: cover;
		background-position: center;
		&-container {
			position: relative;
		}
		&-icon {
			font-size: 4.5em !important;
			fill: url(#clr-gradient-default) !important;

			&-container {
				display: flex !important;
				aspect-ratio: 1.777;
				justify-content: center;
				align-items: center;
				width: 100% !important;
				color: transparent;
				background: $clr-gradient-dark;
				border-radius: 10px;
				position: absolute;
				top: 0;
				bottom: 0;
				height: 100%;
				z-index: -1;
			}
		}
	}
	&-text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
