/** @format */
.card {
	&-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: opacity $transition-time-fast;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		&-container {
			position: relative;
			width: 100%;
			border-radius: $border-radius-default;
			box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
		}
		&-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 3.4em !important;
			fill: url(#clr-gradient-default) !important;
			color: transparent;
			&-container {
				background: $clr-gradient-dark;
				height: 100%;
				width: 100%;
				position: relative;
				z-index: 0;
			}
		}
		&-blurhash {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100% !important;
			height: 100% !important;
		}
	}
	&-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgb(0 0 0 / 0.6);
		z-index: 10;
		opacity: 0;
		transition: opacity $transition-time-default;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 0.5em;
	}
	&-container:hover,
	&-container:focus,
	&-container:focus-within {
		.card-overlay {
			opacity: 1;
		}
	}
}
