/** @format */

.card {
	margin-right: 1em;
	border-radius: $border-radius-default;

	&.landscape {
		--image-aspect-ratio: 1.77;
	}

	&.portrait {
		--image-aspect-ratio: 0.65;
	}

	&-image {
		position: relative;
		border-radius: $border-radius-default;
		aspect-ratio: var(--image-aspect-ratio);
		background-size: cover;
		background-position: center;
		&-container {
			position: relative;
		}
		&-icon {
			font-size: 4.5em !important;
			fill: url(#clr-gradient-default) !important;

			&-container {
				display: flex !important;
				aspect-ratio: 1.777;
				justify-content: center;
				align-items: center;
				width: 100% !important;
				color: transparent;
				background: $clr-gradient-dark;
				border-radius: $border-radius-default;
			}
		}
	}
	&-text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
