/** @format */

* {
	box-sizing: border-box;
}

main {
	position: fixed;
	inset: 0;
	contain: strict;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;
}

#background {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	-webkit-animation: fadeInBg var(--transition-time-slow-1);
	animation: fadeInBg var(--transition-time-slow-1);
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.page {
	position: static;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 100vw;
	overflow: hidden;
}

.server__cont,
.user__cont,
.manual__input {
	position: static;
	width: 60vw;
	max-width: 30em;
}

.server__cont {
	display: flex;
	flex-flow: column;
	grid-gap: 3em;
}

.divider {
	width: 100%;
	height: 2px;
	background: white;
	border-radius: 10px;
}

input[type="text"],
input[type="url"],
input[type="password"] {
	background: transparent;
	border: none;
	border-bottom: 3px solid white;
	color: white;
}

.input__btn {
	overflow: hidden;
	background: #ffffff4b;
	border: 2px solid white;
	color: white;
	border-radius: 100px;
	width: 100%;
	transition: background var(--transition-time-default);
}

.input__btn:hover {
	background: #ffffff6b;
}

.input__label {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	font-size: min(1em, 25px);
	transition: font-size var(--transition-time-default),
		transform var(--transition-time-default);
}

input:focus + .input__label,
.input__label.inputLabelActive {
	transform: translateY(calc(-100% - 0.85em));
	font-size: min(0.75em, 15px);
}

.form__cont {
	display: flex;
	flex-flow: column;
	grid-gap: 1em;
}

.hide {
	display: none !important;
	visibility: hidden !important;
}

.info {
	font-family: "IBM Plex Mono", monospace;
	opacity: 0.65;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-size: calc(60vw / 20);
}

.info svg {
	color: var(--warning-yellow);
	height: 100%;
	width: min(1.5em, 30px);
}

.info div {
	font-size: min(0.65em, 15px);
	text-align: left;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

.error {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40vw;
	height: 30vh;
	min-height: 15em;
	min-width: 25em;
}

.icon {
	height: 40%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.icon svg {
	width: auto;
	height: 100%;
	color: var(--error-red);
}

.popup .text {
	font-family: "IBM Plex Mono";
	font-weight: 300;
}

.popup__exit__btn {
	border-radius: 100px;
	border: none;
	background: var(--error-red);
	color: white;
	transition: background var(--transition-time-default);
}

.popup__exit__btn:hover {
	background: var(--error-red-darker-1);
}

.error.active,
.popup__exit.active {
	-webkit-animation: fadeIn var(--transition-time-slow-1);
	animation: fadeIn var(--transition-time-slow-1);
	display: block;
	visibility: visible;
}

.popup__exit {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	opacity: 1;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

.popup__exit.fadeOut,
.popup.error.fadeOut {
	-webkit-animation: fadeOut var(--transition-time-slow-1) forwards;
	animation: fadeOut var(--transition-time-slow-1) forwards;
}

.loader {
	position: fixed;
	overflow: visible;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader::before {
	content: "";
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 0;
	transition: var(--transition-time-slow-1);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.loader svg {
	z-index: 1;
}

/*Animations*/
@-webkit-keyframes fadeInBg {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.6;
	}
}

@keyframes fadeInBg {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.6;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opactiy: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opactiy: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		display: block;
		opacity: 1;
	}
	99% {
		display: block;
		opacity: 0;
	}
	100% {
		display: none;
		opacity: 0;
	}
}
