.video-player {
    background: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    &-osd {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        cursor: none;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: space-between;
        padding: 1em 2em;
        background: linear-gradient(to top, rgb(0 0 0 / 0.7) 5vh, transparent 26vh 90vh, rgb(0 0 0 / 0.7));
        &.hovering {
            cursor: default;
        }
        &-controls {
            &-timeline-text {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
            }
            &-progress {
                display: flex;
                flex-direction: column;
                gap: 0.2em;
                align-items: stretch;
                justify-content: center;
                margin-bottom: 0.5em;
                &-bubble {
                    width: 14em;
                    top: 0;
                    left: 0;
                    transform-origin: bottom center;
                    transform: translate(var(--left, 0), var(--top, 0));
                    position: fixed;
                }
            }
            &-buttons {
                display: flex;
                gap: 0.4em;
                align-items: center;
            }
        }
        .MuiSlider-valueLabel {
            padding: 0;
            background: transparent;
            overflow: hidden;
            border-radius: $border-radius-default;
            border: 1.2px solid rgb(255 255 255 / 0.1);
        }
    }
}