.video-player {
    background: black;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    &-osd {
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        cursor: none;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: space-between;
        padding: 2em 3em;
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0) 25%,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 0.9) 100%
        );
        &.hovering {
            cursor: default;
        }
        &-controls {
            display: flex;
            flex-direction: column;
            gap: 1em;

            &-timeline-text {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                margin-top: 0.5em;
                font-weight: 500;
                opacity: 0.9;
            }
            &-progress {
                display: flex;
                flex-direction: column;
                gap: 0.2em;
                align-items: stretch;
                justify-content: center;
                margin-bottom: 0.5em;
                &-bubble {
                    width: 14em;
                    top: 0;
                    left: 0;
                    transform-origin: bottom center;
                    transform: translate(var(--left, 0), var(--top, 0));
                    position: fixed;
                }
            }
            &-buttons {
                display: flex;
                gap: 0.5em;
                align-items: center;
            }
        }
        .MuiSlider-valueLabel {
            padding: 0;
            background: transparent;
            overflow: hidden;
            border-radius: $border-radius-default;
            border: 1.2px solid rgb(255 255 255 / 0.1);
        }
    }
}