.video-player-up_next_flyout {
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: 42em;
    height: fit-content;
    display: flex;
    gap: 10px;
    align-items: stretch;
    justify-content: center;
    background-color: rgba(60, 60, 60,1);
    padding: 10px;
    border-radius: $border-radius-default + 10px;
    z-index: 10;
    transition: bottom 0.3s ease-in-out;
    
    &.floating {
        bottom: 18vh
    }
    
    &-thumbnail {
        max-width: 100%;
        max-height: 100%;
        width: 15em;
        object-fit: cover;
        border-radius: $border-radius-default;
    }
    &-details {
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow: hidden;
        justify-content: flex-start;
        align-items: flex-start;
        // height: 100%;
    }
    &-button{
        // justify-self: flex-end;
        margin-top: auto;
    }
}