
.card-scroller {
	// height: 20em;
	&-slide {
		overflow: visible;
		display: flex;
	}
	&-button {
		position: absolute !important;
		height: 100%;
		font-size: 1em !important;
		width: $page-margin;
		&.right{
			border-radius: $border-radius-default 0 0 $border-radius-default !important;
			right: -$page-margin;
		}
		&.left{
			border-radius: 0 $border-radius-default $border-radius-default 0 !important;
			left: -$page-margin;
		}
		.material-symbols-rounded{
			font-size: 3.2em;
			--wght: 200;
			--opsz: 48;
		}
	}
	&-header-container {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
	&-heading {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 0.35em;
		position: relative;
		margin-bottom: 0.25em !important;
		&-decoration {
			width: 0.75em;
			height: 2px;
			background: white;
		}
	}
	&-container .MuiButtonGroup-outlined{
		gap: 1em;
	}
}

.hidden-decoration {
	.card-scroller-heading-decoration {
		display: none;
	}
}
