
.card-scroller {
	// height: 20em;
	&-slide {
		overflow: visible;
		display: flex;
	}
	&-button {
		aspect-ratio: 1;
	}
	&-header-container {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}
	&-heading {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 0.35em;
		position: relative;
		margin-bottom: 0.25em !important;
		&-decoration {
			width: 0.75em;
			height: 2px;
			background: white;
		}
	}
}

.hidden-decoration {
	.card-scroller-heading-decoration {
		display: none;
	}
}
