/** @format */

.item-detail {
	&-episodes-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		gap: 0.25em;
		margin-top: 0.5em;
		align-items: start;
		justify-items: stretch;
	}
}
