
.carousel {
	position: relative;
	height: 70vh;
	margin: 0.6em 1.6em 1.6em 1.6em;
	&-button {
		position: absolute !important;
		top: 50%;
		transform: translateY(-50%);
		z-index: 100;
		&.right {
			right: 0.5em;
		}
		&.left {
			left: 0.5em;
		}
	}
	&-indicator {
		height: 3px;
		width: 100%;
		border-radius: 10px;
		transition: background $transition-time-fast,
			height $transition-time-fast;
		background: rgb(255 255 255 / 0.5);
		&:hover {
			cursor: pointer;
			height: 6px;
			background: rgb(255 255 255 / 0.8) !important;
		}
		&-container {
			display: flex;
			position: absolute;
			bottom: -1.5em;
			left: 10px;
			right: 10px;
			gap: 1em;
			align-items: center;
			justify-content: center;
		}
		&.active {
			height: 6px;
			background: white !important;
		}
	}
}
