$cardWidth: 18%;

.item-default.item {
	
	.item-detail {
		display: grid;
		grid-template-columns: 1fr 35%;
		justify-items: center;
		align-items: start;
		gap: 3em;
		
		&-cast {
			&-container {
				display: flex;
				flex-direction: column;
				gap: 1em;
			}
			&-grid {
				display: grid;
				grid-template-columns: repeat(5, minmax(0, 1fr));
				gap: 1em;
				margin-bottom: 1em;
			}
			&-card {
				display: grid;
				grid-template-columns: 6em 1fr;
				gap: 0.5em;
				align-items: center;
				color: white !important;
				text-decoration: none;
				padding: 0.5em;
				background: rgb(255 255 255 / 0);
				transition: background $transition-time-default;
				border-radius: $border-radius-default;
				&:hover {
					background: rgb(255 255 255 / 0.1);
				}
				&-image,
				&-icon {
					width: 6em;
					height: 6em;
					object-fit: cover;
					border-radius: 100%;
					box-shadow: $shadow-card-image;
				}
				&-icon {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 1em;
					background: rgb(255 255 255 / 0.1);
					.material-symbols-rounded {
						font-size: 3em;
					}
				}
			}
		}
		&-link {
			color: white;
			text-decoration-color: rgb(255 255 255 / 0.5);
			&:hover {
				text-decoration-color: white;
			}
		}
	}
}

// Global item-detail
.item-detail-link{
	margin-top: 0.85em !important;
	&:hover > img{
		filter: brightness(1);
	}
	& > img {
		width: 2em;
		aspect-ratio: 1;
		filter: brightness(0.5);
		transition: filter $transition-time-default;
	}
}

.item {
	gap: 1.5em;
	&-hero{
		// margin-bottom: 1em;
		&-image{
			box-sizing: border-box;
			&-container{
				box-sizing: content-box;
				box-shadow: 0px 10px 20px -10px rgb(0 0 0 / 0.5) !important;
			}
		}
		&-mediaInfo{
			margin-top: 1em;
			height: 1.1em;
			opacity: 0.8;
			&.badge{
				margin: 0;
				height: 1.2em;
			}
		}
	}
}