.library-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    inset: 1em 2em auto 2em !important;
    border-radius: 9999px;
    margin: 0 auto;
    width: fit-content;
    position: sticky;
    width: calc(100vw - 4em) !important;
    z-index: 10;
    padding: 0.25em !important;
    transition: all 0.2s ease-in-out;
    
    &::after {
        content: "";
        position: absolute;
        inset: -0.35em;
        pointer-events: none;
        border-radius: inherit;
        @include glass-effect;
        opacity: 0;
        z-index: -1;
        transition: all 150ms;
    }
    &.scrolling {
        &::after {
            opacity: 1;
        }
    }
}

