
.album {
	&-image {
		aspect-ratio: 1;
		border-radius: 20px;
		overflow: hidden;
		width: 16em;
		height: 16em;
		box-shadow: $shadow-card-image;
		position: relative;
		flex-shrink: 0;
		&-icon {
			color: rgb(255 255 255 / 0.5);
				font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 25, "opsz" 40;


			&-container {
				background: $clr-background-card-icon;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 1;
			}
		}
	}
}
