
.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 4em;
	align-items: start;
	&-section {
		background: $clr-background-dark;
		padding: 1em;
		border-radius: 12px;
		&.monospace * {
			font-family: "JetBrains Mono Variable" !important;
		}
	}
	&-logo {
		max-width: 50vw;
		height: 5em;
		object-fit: contain;
		object-position: center;
		margin-bottom: 1em !important;
		border-bottom: 1.4px solid rgb(255 255 255 / 0.05);
	}
	&-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 100%;
		padding: 0.5em 0;
		gap: 1em;
	}
}
