$maskPercentage: 40%;
.hero {
	display: flex;
	width: 100%;
	gap: 2em;
	justify-content: space-between;
	padding-right: 1em;
	.item-detail-primaryImage {
		width: 26%;
		flex-shrink: 0;
	}
	&-backdrop {
		position: absolute;
		background-attachment: scroll;
		width: calc(100vw + 100px);
		height: calc(100vh + 100px);
		top: -50px;
		left: -50px;
		z-index: -1;
		filter: brightness(0.4);
		mask-image: linear-gradient(to bottom, black 40%, transparent),
			linear-gradient(to left, black 40%, transparent);
		-webkit-mask-image: linear-gradient(to bottom, black 40%, transparent),
			linear-gradient(to left, black 40%, transparent);
		mask-composite: source-in;
		-webkit-mask-composite: source-in;
		& > * {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
		}
		&-image {
			object-fit: cover;
			z-index: 1;
		}
		&-blurhash {
			z-index: 0;
		}
		&-icon {
			&-container {
				background: url(../../../assets/herobg.png);
				background-size: cover;
				z-index: -1;
			}
		}
	}
	&-grid {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 85%;
	}

	&-name-logo {
		width: 10.4em;
		max-height: 2.6em;
		object-fit: contain;
		object-position: left;
		opacity: 0;
		transition: opacity $transition-time-fast;
		filter: drop-shadow(0px 4px 10px rgb(0 0 0 / 0.5));
	}
	&-text-container {
		display: flex;
		flex-wrap: wrap;
	}
}
