/** @format */

.userCard {
	text-decoration: none !important;
}

.card.square {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.5em;
	margin-bottom: 0.5em;
	.card-image {
		&-container {
			font-size: 5em;
		}
		&-icon {
			font-size: 1.5em !important;
			&-container {
				position: static;
				width: 1.5em !important;
				height: 1.5em !important;
				aspect-ratio: 1;
				border-radius: $border-radius-default;
				color: $clr-accent-default;
				background: $clr-accent-dark;
			}
		}
	}
	.card-text {
		margin: 0 !important;
		text-decoration: none !important;
	}
}

.avatar-image {
	&-container {
		width: fit-content;
		aspect-ratio: 1;
	}
	&-icon {
		border-radius: 100%;
		padding: 0.2em;
		background: $clr-accent-dark;
		color: $clr-accent-default;
		font-size: 6em !important;
	}
}
