
.avatar-image {
	aspect-ratio: 1;
	height: 100%;
	position: absolute;
	inset: 0;
	background-size: cover;
	background-position: center;

	&-container {
		width: fit-content;
		aspect-ratio: 1;
		position: relative;
		border-radius: 100vh;
		overflow: hidden;
	}
	&-icon {
		height: 100%;
		padding: 0.2em;
		background: rgb(255 255 255 / 0.1);
		color: white;
		font-size: 7em !important;
	}
}
