
@use "./styles/variables.scss" as *;

:export {
	clrAccentDefault: $clr-accent-default;
	clrSecondaryDefault: $clr-secondary-default;
	clrBackgroundDefault: $clr-background-default;

	clrBackgroundDark: $clr-background-dark;
	clrBackgroundDarkOpacity0_8: $clr-background-dark-opacity-0_8;
	clrBackgroundLight: $clr-background-light;

	borderRadiusDefault: $border-radius-default;
}
