
.link {
	text-decoration: underline;
	text-decoration-color: rgb(255 255 255 / 0.5);
	white-space: pre-line;
	width: fit-content;
	&:hover {
		cursor: pointer;
		text-decoration-color: rgb(255 255 255 / 1);
	}
}
