.photos {
    background: black;
    overflow: hidden;
    height: 100vh;
    &-currentPhoto {
        width: 100vw;
        height: 100vh;
        object-fit: contain;
    }
    &-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100vw;
        z-index: 1;
        opacity: 0.5;
        transform: translateY(80%);
        transition: $transition-time-default;
        will-change: opacity, transform;
        &:hover {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &-preview {
        // width: 10vw;
        height: 10vh;
        object-fit: cover;
        border: 2px;
        border: 2px solid transparent;
        border-radius: 4px;
        transition: border $transition-time-default, filter $transition-time-default;
        cursor: pointer;
        &:hover {
            filter: brightness(1.2) !important;
        }
        &-container {
            width: 90vw;
            overflow-y: hidden;
            overflow-x: auto;
            display: flex;
            gap: 4px;
            margin: 0 auto;
            bottom: 0;
            left: 5vw;
            &:hover .photos-preview {
                filter: brightness(0.7);
            }
        }
        &.active {
            border-color: $clr-accent-default;
        }
    }
    &-actions {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        z-index: 0;
    }
}