.settings{
    display: grid !important;
    grid-template-columns: 20% 1fr;
    height: 60vh;
    overflow: hidden !important;
    .MuiTabs-flexContainerVertical{
        height: 100%;
    }
    &-container{
        margin: 14px 0 14px 14px;
    }
    &-tab{
        display: grid !important;
        grid-template-columns: 2em 1fr;
        align-items: center;
        justify-items: start !important;
        gap:1em;
        & .material-symbols-rounded{
            justify-self: center !important;
        }
        
    }
    &-scroll{
        overflow-y: auto;
        scrollbar-gutter:stable ;
        overscroll-behavior: contain;
        // Magic scrollbar
        &::-webkit-scrollbar {
            &-thumb {
                height: 150px;
                max-height: 33%;
            }
            &-track {
                margin-top: 15px;
                margin-bottom: 15px;
                background: transparent !important;
            }
        }
    }
    
    // About page
    &-grid{
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        gap:1em;
    }
    &-logo{
        width: 100%;
        background: rgb(255 255 255 / 1);
        padding: 0em;
        height: 10em;
        margin-bottom: 1em;
        border-radius: $border-radius-default;
        object-fit: contain;
    }
    &-info{
        display: grid;
        grid-template-columns: 40% 1fr;
        gap: 1em;
        justify-items: start;
        align-items: center;
        border-bottom: 1px solid rgb(255 255 255 / 0.1);
        padding-bottom: 0.5em;
        &-container{
            background: rgb(0 0 0 / 0.3);
            padding: 1em;
            border-radius: $border-radius-default;
            display: flex;
            flex-direction: column;
            gap:0.6em;
            width: 100%;
        }
        &:last-child {
            border: none;
            padding-bottom: 0em;
        }
        > :last-child {
            opacity: 0.8;
        }
    }
    
    //settings
    &-option{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 !important;
        margin: 0 !important;
        margin-bottom: 0.6em !important;
        &-info-caption{
            opacity: 0.6;
        }
    }
    
    //serverList
    &-server{
        &-container{
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
            padding-bottom: 4.6em;
        }
        
        display: grid;
        grid-template-columns: 3.4em 1fr auto;
        justify-items: start;
        align-items: center;
        gap: 0.8em;
        background: rgb(0 0 0 / 0.3);
        padding: 1em;
        width: 100%;
        border-radius: $border-radius-default;
        
        &-icon {
            font-size: 3.4em !important;
            font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 10, "opsz" 40;
        }
        &-info {
            display: flex;
            flex-direction: column;
            // width: 100%;
            &-version {
                display: flex;
                align-items: center;
                gap:0.4em;
            }
        }
        &-buttons {
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            // width: 100%;
            overflow: hidden;
        }
        
        &-fab-container {
            display: flex;
            position: absolute;
            bottom: 14px;
            right: 14px;
            align-items: center;
            justify-content: center;
            gap: 0.8em;
        }
        
        // Dialog
        &-add {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
        }
    }
}

.Mui-selected .material-symbols-rounded{
    font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 25, "opsz" 40;
}