/** @format */

.audio-player {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(0 0 0 / 0.5);
	z-index: 10;
	display: flex;
	padding: 1em;
	margin: 1em;
	backdrop-filter: blur(10px);
	border-radius: 10px;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	gap: 1em;
	#waveform {
		width: 100%;
	}
	&-controls {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
		width: 100%;
		flex-flow: column;
	}
	&-info {
		display: flex;
		gap: 0.5em;
		flex-wrap: nowrap;
		width: fit-content;
	}
	&-image {
		width: 4em;
		aspect-ratio: 1;
		border-radius: $border-radius-default;
	}
}
